//yellow
$yellow-light: #ffef00;
$yellow-main: #FFEF00;
$yellow-dark: #FFD400;

//dark
$black: #000000;
$dark-grey-100: #c1c1c1;
$dark-grey-300: #949494;
$dark-grey-400: #6b6464;
$dark-grey-500: #5F6978;
$dark-grey-600: #0B0B0D;
$dark-grey-700: #0E0E0F;

//light
$white: #FFFFFF;

//red
$error: #ff5858;
$red-700: #ff1d25;

//blue
$blue-200: #92a2d6;
$blue-300: #1bded0;
$blue-400: #404c6e;

//orange
$orange-500: #f7893b;

//green
$green-400: #00FF0E;